<div class="content" style="height: 100%; width: 9rem;">
    <div class="list-holder">
        <div>
            <div >Create Order</div>
            <img src="assets\food-icon.png">
        </div>
        <div>
            <div >Favorites</div>
            <img src="assets\star-icon.png">
        </div>
        <div>
            <div >History</div>
            <img src="assets\history-icon.png">
        </div>
        <div>
            <div >Profile</div>
            <img src="assets\profile-icon.png">
        </div>
    </div>
</div>