<div class="content" style="height: 100%; width: 9rem;">
    <div closeSidebar class="list-holder">
        <div routerLink="/restaurant">
            <div>Create Order</div>
            <img src="assets\food-icon.png">
        </div>
        <div routerLink="/favorites">
            <div >Favorites</div>
            <img src="assets\star-icon.png">
        </div>
        <div routerLink="/history">
            <div >History</div>
            <img src="assets\history-icon.png">
        </div>
        <div routerLink="/cart">
            <div >Checkout</div>
            <img src="assets\cart-icon.png">
        </div>
        <div routerLink="/profile">
            <div >Profile</div>
            <img src="assets\profile-icon.png">
        </div>
    </div>
</div>