<div class="login-container">
    <div style="font-size: xx-large;">SUU Campus Dining</div>
    <div style="font-size: large;">Please sign in with your SUU account.</div>
    <div class="input-container">
        <input type="text" placeholder="Username">
        <input type="password" placeholder="Password">
        <div class="login-button" routerLink="/restaurant">LOGIN</div>
    </div>
    <div class="help">
        Forgot 
        <a href="https://my.suu.edu/accounts/forgotusername" target="_blank">Username</a>
        or 
        <a href="https://my.suu.edu/accounts/forgotpassword" target="_blank">password</a>?
    </div>
    
</div>
<div class="disclaimer">*This is NOT an authentic SUU sign in page</div>