<div class="login-container">
    <div style="font-size: xx-large;">SUU Campus Dining</div>
    <div style="font-size: large;">Please sign in with your SUU account.</div>
    <div class="input-container">
        <div *ngIf="failedLogin" style="color: rgb(0, 0, 0); background-color: rgb(255, 202, 202); outline: solid thin black; margin-bottom: .5rem; text-indent: 1rem;">
            Incorrect username or password
        </div>
        <input #userField type="text" placeholder="Username" (keyup)="onKey($event,userField,passField)">
        <input #passField type="password" placeholder="Password" (keyup)="onKey($event,userField,passField)">
        <div class="login-button" (click)="login(userField, passField)">LOGIN</div>
    </div>
    <div class="help">
        Forgot 
        <a href="https://my.suu.edu/accounts/forgotusername" target="_blank">username</a>
        or 
        <a href="https://my.suu.edu/accounts/forgotpassword" target="_blank">password</a>?
    </div>
    
</div>
<div class="disclaimer">*This is NOT an authentic SUU sign in page</div>