<!-- Potential service for serving our webpage online: https://firebase.google.com/ -->


<!-- Page Header -->
<div style="height: 4rem; background-color: rgb(196, 20, 37); display: flex; justify-content: space-between;">
  <input type="image" src="assets\list-icon.png" (click)="_toggleSidebar()" style="height: 100%; width: 4rem;">
  <img src="assets\suu-banner.png" a style="height: 100%;">
  <div style="color: white; font-size: 3.7rem; font-family: Geneva; font-weight: bold;">SUU To Go</div>
  <div> </div>
  <div></div>
  <div></div>
  <div></div>
</div>


<!-- link to sidebar information: https://www.npmjs.com/package/ng-sidebar -->
<!-- Container for sidebar(s) + page content (Everything) -->
<ng-sidebar-container style="height: calc(100vh - 4rem);">

  <!-- Container for the sidebar content -->
  <ng-sidebar [(opened)]="_opened">
    <app-side-nav></app-side-nav>
  </ng-sidebar>

  <!-- Page content container -->
  <div ng-sidebar-content>
    <div>hiel</div>
    <div>jskdalf</div>
  </div>

</ng-sidebar-container>