<div>
    <button (click)="logout()" class="logout">Logout</button>
</div>

<div style="display: flex; justify-content: space-between; margin: 20%; margin-top: 10rem;">
    <div>
        <img src="assets\payment-icon.png">
        <div class="img-text">Payment Info</div>
    </div>
    <div>
        <img src="assets\tbird-logo.png">
        <div class="img-text">Account Settings</div>
    </div>
    <div>
        <img src="assets\profile-icon.png">
        <div class="img-text">Profile Picture</div>
    </div>
</div>